body, html, center{
    margin: 0px;
    padding: 0px;
}

h1{
    font-size: 5vw;
    margin: 0px;
}
h2{
    font-size: 26px;
    margin-bottom: 0px;
}
p{
    margin: 0px;
}
a{
    color: blue;
    font-size: 20px;
    text-decoration: underline;
    display: block;
}
a:hover{
    font-style: italic;
    cursor: pointer;
}
audio{
    border-radius: 0px;
    margin-top: 6px;
}
table, th, td{
    border-collapse: collapse;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
table{
    width: 100%;
}
td{
    padding: 6px;
}
.no-bottom{
    border-bottom: 0px;
}

.dotbanner{
    background-image: url("banner.png");
    background-repeat: repeat-x;
    background-size: 10vw;
    height: calc(10vw * 0.18);
    width: 100%;
}
.titlebox{
    border-width: 5px;
    border-color: black;
    border-style: dashed;
    border-left: 0px;
    border-right: 0px;

    padding-top: 12px;
    padding-bottom: 12px;
    margin: 0px;
    margin-top: 12px;
    margin-bottom: 12px;

    width: 100%;
}
.box{
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 12px;
    margin-bottom: 12px;
    width: 50%;
}
.blogbox{
    border-width: 2px;
    border-color: black;
    border-style: dashed;
    padding: 12px;
    margin-bottom: 12px;
    width: 300px;
    max-width: 90%;
}